@using BlogModels.UiModel
@using CorePlugs20.TimeHelper
@model Index_Model
@{
    ViewData["Title"] = "标签文章";
}
@section Styles{
    <link rel="stylesheet" href="/css/index.all.css" />
}
@section Scripts{
    <script src="/js/index.js"></script>
    <script>
        $(function(){
            //Index.init();
        })
    </script>
}
<!--    post section start -->
<section class="posts section">
    <!-- page posts -->
    @{
        /*Post 显示*/
        foreach(var post in Model.Posts){
            var dt = UnixTimeHelper.FromUnixTime(Convert.ToInt64(post.PostTime));
            <article class="post">
            <header class="post-header">
            <h2 class="post-title">
            <a class="post-title-link" href="/blog/post/@(post.Id)">
            @(post.PostTitle)
            </a>
            </h2>
            <div class="post-meta">
            <span class="post-time">
            <span class="post-meta-item-icon">
            <i class="fa fa-calendar-o"></i>
            </span> 
            <span class="post-meta-item-textdate">发表于</span>
            <time title="Post created" datetime=""+ dt +""> 
            <a href="/blog/date/@(dt.Year)/@(dt.Month)" rel="index">@(dt.ToString("yyyy-MM-dd"))</a>
            </time>
            </span>
            <span class="post-category">
            <span class="post-meta-divider"> | </span>
            <span class="post-meta-item-icon">
            <i class="fa fa-folder-o"></i>
            </span> 
            <span class="post-meta-item-text">分类于</span> 
            <span>
            <a href="/blog/category/post/@(post.PostCategoryId)" rel="index">
            <span itemprop="name">@(post.PostCategory)</span>
            </a>
            </span>
            </span>
            </div>
            </header>
            <div class="post-body">
            @Html.Raw(post.PostDesc)
            </div>
            <div class="post-button text-center">
            <a class="btn" href="/blog/post/@(post.Id)">
            阅读全文 »
            </a>
            </div>
            </article>
        }
    }
</section>
<!--    post section end -->

<!--    post pagination start -->
<nav class="pagination">
    @{
        var currentPage = ViewContext.RouteData.Values.Keys.Contains("q2")?Convert.ToInt32(ViewContext.RouteData.Values["q2"]):1;
        var pageCount = Model.PageCount;
        var cid = ViewContext.RouteData.Values["q1"];
        if(pageCount>0)
        {
            if(currentPage>1)
            {
            <a href="/blog/Tag/post/@(cid)/@(currentPage-1)" data-page="@(currentPage-1)" class="pnleft">←</a>
            }
            <ul class="pnnums">
            @if(currentPage>5)
            {
                for(int i =(pageCount-currentPage>=2?(currentPage-2):((currentPage-(4-(pageCount-currentPage)))>0?currentPage-(4-(pageCount-currentPage)):1));i<=(pageCount-currentPage>2?currentPage+2:pageCount);i++)
                {
                    <li class="@(i==currentPage?"current":"")"><a data-page=@(i) href="/blog/Tag/post/@(cid)/@(i)">@(i)</a></li>
                }
            }
            else
            {
                for(int i = 1;i<=(pageCount>5?5:pageCount);i++)
                {
                    <li class=@(i==currentPage?"current":"")><a data-page=@(i) href="/blog/Tag/post/@(cid)/@(i)">@(i)</a></li>
                }
            }
            </ul>
            if(currentPage<pageCount)
            {
            <a  data-page="@(currentPage+1)" href="/blog/Tag/post/@(cid)/@(currentPage+1)" class="pnright">→</a>
            }            
        }
    }
    <!-- <a href="#" class="pnleft">←</a>
    <ul class="pnnums">
        <li><a href="#">1</a></li>
        <li class="current"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
    </ul>
    <a href="#" class="pnright">→</a> -->
</nav>
<!--    post pagination end -->